/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .copyrights, #social-icons {
        float: none;
        justify-content: center;
    }
    footer .wrapper {
        text-align: center;
    }
    #social-icons {
        margin-top: 20px;
    }
}